body {
  font-family: "Amatic SC", cursive;
  font-family: "Spartan", sans-serif;
}

h1,
h2,
h3 {
  color: black;
  text-shadow: -1px 0 lightblue, 0 1px lightblue, 1px 0 lightblue,
    0 -1px lightblue;
}

h2 {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 5px;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}

a {
  color: grey;
  text-decoration: none;
}

.weather-app-wrapper {
  max-width: 600 px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  background-image: url(../images/blue.jpg);
  background-size: cover;
  background-position: center;
  color: whitesmoke;
  text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
}

.btn {
  background-color: lightblue;
  color: whitesmoke;
  border: white;
}

.btn:hover {
  background-color: whitesmoke;
  color: lightblue;
}

.main {
  width: 200px;
}

.units {
  position: relative;
  font-size: 16px;
  top: -12px;
}

.active {
  color: black;
  cursor: default;
}
